<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justlift.enroll.dao.EnrollDAO">
	<insert id="insertEnroll" parameterType="map">
		INSERT INTO `enroll`
		(
			
			`month`
			,`gymId`
			,`userId`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{month},
			#{gymId},
			#{userId},
			NOW(),
			NOW()	
		)

	</insert>
	<select id="selectMyEnrollList" parameterType="map" resultType="com.justlift.enroll.model.Enroll">
		SELECT
			`id`
			,`month`
			,`gymId`
			,`userId`
			,`createdAt`
			,`updatedAt`
		FROM
			`enroll`
		WHERE
			`userId` = #{userId}
	
	</select>
	
	<select id="selectMyEnrollCount" parameterType="map" resultType="int">
		SELECT 
			COUNT(1)
		FROM
			`enroll`
		WHERE 
			`userId` = #{userId}
	</select>
</mapper>