<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justlift.gym.dao.GymDAO">
	<select id="selectPostIdByCategoryIdAndSort" parameterType="map"
		resultType="int">
		SELECT
		`id`
		FROM
		`gym`
		WHERE
		`categoryId`=#{categoryId}
		ORDER BY `id` ${sort}
		LIMIT 1
	</select>
	<select id="selectGymListByLocationAndCategory"
		parameterType="map" resultType="com.justlift.gym.model.Gym">
		SELECT
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		WHERE
			`categoryId`=#{categoryId}
			AND 
<if test="location == 'gangnam'">
	`location` LIKE '%강남구%'
</if>
<if test="location == 'seocho'">
	`location` LIKE '%서초구 %'
</if>
<if test="location == 'songpa'">
	`location` LIKE '%송파구 %'
</if>
<if test="location == 'kwanak'">
	`location` LIKE '%관악구 %'
</if>
<if test="location == 'yongsan'">
	`location` LIKE '%용산구 %'
</if>
<if test="location == 'mapo'">
	`location` LIKE '%마포구 %'
</if>
<if test="location == 'seongdong'">
	`location` LIKE '%성동구 %'
</if>
<if test="direction == null">
		ORDER BY `id` DESC
		</if>
		<if test="direction == 'next'">
			<![CDATA[
			AND `id` < #{standardId}
			]]>
		ORDER BY `id` DESC
		</if>
		<if test="direction == 'prev'">
			<![CDATA[
			AND `id` > #{standardId}
			]]>
		ORDER BY `id` ASC
		</if>
		LIMIT ${limit}
		
	</select>
	<select id="selectCategoryNameByCategoryId" parameterType="map" resultType="com.justlift.gym.model.Category">
		SELECT
			*
		FROM
			`category`
		WHERE
			`id`=#{categoryId}
	</select>
	<select id="selectGymListByLocationAndCategoryId" parameterType="map" resultType="com.justlift.gym.model.Gym">
		SELECT
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		WHERE
			`categoryId`=#{categoryId}
			AND 
<if test="location == 'gangnam'">
	`location` LIKE '%강남구%'
</if>
<if test="location == 'seocho'">
	`location` LIKE '%서초구 %'
</if>
<if test="location == 'songpa'">
	`location` LIKE '%송파구 %'
</if>
<if test="location == 'kwanak'">
	`location` LIKE '%관악구 %'
</if>
<if test="location == 'yongsan'">
	`location` LIKE '%용산구 %'
</if>
<if test="location == 'mapo'">
	`location` LIKE '%마포구 %'
</if>
<if test="location == 'seongdong'">
	`location` LIKE '%성동구 %'
</if>
	</select>
	<select id="selectGymDetailListByGymId" parameterType="map" resultType="com.justlift.gym.model.Gym">
		SELECT 
			*
		FROM
			`gym`
		WHERE
			`id` = #{gymId}
	</select>
	<select id="selectGymList" resultType="com.justlift.gym.model.Gym">
		SELECT
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		ORDER BY `id` DESC
	</select>
	<select id="selectGymListByUserId" parameterType="map" resultType="com.justlift.gym.model.Gym">
		SELECT
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		WHERE
			`id`
		IN (SELECT `gymId` FROM `enroll` WHERE `userId` = #{userId} ORDER BY `createdAt` )
		
	</select>
	<select id="selectGymLikeListByUserIdAndType" parameterType="map" resultType="com.justlift.gym.model.Gym" >
		SELECT
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		WHERE
			`id` in (SELECT `workoutId` FROM `like` WHERE `userId` = #{userId} AND `type` = #{type})
	</select>
	<select id="selectGymListByUserIdAndFromQna" parameterType="map" resultType="com.justlift.gym.model.Gym">
		SELECT 
			`id`
			,`name`
			,`categoryId`
			,`location`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`gym`
		WHERE `id` in (select `workoutId` from `qna` where `type` = 'gym' and `userId` = #{userId}) 
	</select>	
	<select id="getHotGymList" parameterType="map" resultType="com.justlift.gym.model.Gym">
		select * from `gym` where `id` in (select `workoutId`from `like` where `type` = 'gym' group by `workoutId` ) limit 5
		
	</select>
</mapper>
 