<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justlift.qna.dao.QnaDAO">
	<insert id="insertQna" parameterType="map">
		INSERT INTO `qna`
		
		(
			`userId`
			,`workoutId`
			,`type`
			,`title`
			,`content`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
			(
				#{userId},
				#{workoutId},
				#{type},
				#{title},
				#{content},
				NOW(),
				NOW()
			)
	</insert>
	<select id="selectQnaListByUserId" parameterType="map" resultType="com.justlift.qna.model.Qna">
		SELECT
			`id`,
			`userId`
			,`workoutId`
			,`type`
			,`title`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`qna`
		WHERE
			`userID` = #{userId}
	</select>
	<select id="getQnaDetailListById" parameterType="map" resultType="com.justlift.qna.model.Qna">
		SELECT
			`id`,
			`userId`
			,`workoutId`
			,`type`
			,`title`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`qna`
		WHERE
			`id` = #{id}
	</select>
	<delete id="deleteQnaById" parameterType="map">
		DELETE
		FROM
			`qna`
		WHERE
			`id` = #{id}
	</delete>
	<update id="updateQnaById" parameterType="map">
		UPDATE
			`qna`
		SET
			`title` = #{title},
			`content` = #{content},
			`updatedAt` = NOW()
		WHERE
			`id` = #{id}
			
	</update>
</mapper>