<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justlift.review.dao.ReviewDAO">
	<select id="selectGymReveiwListByWorkoutIdAndType"
		parameterType="map" resultType="com.justlift.review.model.Review">
		SELECT
			`id`,
			`workoutId`,
			`type`,
			`userId`,
			`content`,
			`rank`,
			`createdAt`,
			`updatedAt`
		FROM
			`Review`
		WHERE
			`workoutId` = #{workoutId} and
			`type` = #{type}
	</select>
	<select id="InsertReview" parameterType="map" >
		INSERT INTO `Review`
			(
			
			`workoutId`,
			`type`,
			`userId`,
			`content`,
			`rank`,
			`createdAt`,
			`updatedAt`
			)
		VALUES
			(
			#{workoutId},
			#{type},
			#{userId},
			#{content},
			#{rank},
			NOW(),
			NOW()
			)
	</select>
</mapper>