<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.justlift.trainer.dao.TrainerDAO">
 	<select id="selectTrainerListByAreaAndCategoryId" parameterType="map" resultType="com.justlift.trainer.model.Trainer">
 		SELECT
 			`id`
			,`name`
			,`gymId`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`trainer`
		WHERE
			`gymId` IN (select `id` from `gym` where `categoryId`=#{categoryId} 
			AND 
			<if test="area == 'gangnam'">
	`location` LIKE '%강남구%')
</if>
<if test="area == 'seocho'">
	`location` LIKE '%서초구 %')
</if>
<if test="area == 'songpa'">
	`location` LIKE '%송파구 %')
</if>
<if test="area == 'kwanak'">
	`location` LIKE '%관악구 %')
</if>
<if test="area == 'yongsan'">
	`location` LIKE '%용산구 %')
</if>
<if test="area == 'mapo'">
	`location` LIKE '%마포구 %')
</if>
<if test="area == 'seongdong'">
	`location` LIKE '%성동구 %')
</if>

 	</select>
 	
 	<select id="selectTrainerDetailListByTrainerId" parameterType="map" resultType="com.justlift.trainer.model.Trainer">
 		SELECT
 			`id`
			,`name`
			,`gymId`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`trainer`
		WHERE
			`id` = #{trainerId}
		</select>
		
<select id="selectTrainerListByGymId" parameterType="map" resultType="com.justlift.trainer.model.Trainer">
 		SELECT
 			`id`
			,`name`
			,`gymId`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`trainer`
		WHERE
			`gymId` = #{gymId}
			
			
		</select> 
		
		<select id="selectTrainerLikeListByUserIdAndType" parameterType="map" resultType="com.justlift.gym.model.Gym" >
		SELECT
			`id`
			,`name`
			,`gymId`
			,`phoneNumber`
			,`introduce`
			,`rank`
			,`image`
			,`createdAt`
			,`updatedAt`
		FROM
			`trainer`
		WHERE
			`id` in (SELECT `workoutId` FROM `like` WHERE `userId` = #{userId} AND `type` = #{type})
	</select>
	
	<select id="getTrainerIdByTrainerId" parameterType="map" resultType="com.justlift.trainer.model.Trainer">
		SELECT 
			*
		FROM
			`trainer`
		WHERE
			`id` = #{trainerId}
	</select>
		</mapper>