@charset "UTF-8";

.gymname {  width:300px;}
#selectedRegion{width:150px;height:100px;}
#mypageBtn{width:150px;height:200px;justify-content:flex-end;}
.contents-box{width:900px;}
.categoryBtn{height:100px; width:200px;}
.modaltext{font-size:x-large;}